<% notice = flash[:notice] %>

<div class="container">
  <%= form_tag({controller: :dogs, action: @action}, method: @method, :multipart => true) do %>
    <div class="row">
      <div id="name" class="input-field col s12 m12 l6 left-col">
        <%= text_field(:dog, :name, class: "white", placeholder: "Please insert name", :value => @dog_form_values[:name]) %>
        <label for="name" class="<%= notice and notice[:name] and notice[:name] != [] ? "invalid" : "valid" %> input-label-correction">
          What is your dog's name? <strong class ="red-text">*</strong>
        </label>
      </div>
      <div id="dob" class="input-field col s12 m12 l6  right-col" id="dob">
        <%= select :dog, :dob, ((Date.today.year - 30)...(Date.today.year)), {:include_blank => "Please select one", :selected => @dog_form_values[:dob]}, {:class => "validate white", :id=> 'dobdob'} %>
        <label for="dob">What year was your dog born in?</label>
      </div>
      <div id="size" class="input-field col s12 m12 l6 left-col">
        <% size_options = options_from_collection_for_select(Size.all, 'id', 'value', @dog_form_values[:size]) %>
        <%= select :dog, :size, size_options, {:include_blank => "Must select one"}, :class => "validate white" %>
        <label for="size" class="<%= notice and notice[:size] and notice[:size] != [] ? "invalid" : "valid" %>">
          What size (in pounds) is your dog? <strong class ="red-text">*</strong>
        </label>
      </div>
      <div id="gender" class="input-field col s12 m12 l6  right-col">
        <%= select :dog, :gender, ["Male", "Female"], {:include_blank => "Must select one", :selected => @dog_form_values[:gender]}, :class => "validate white" %>
        <label for="gender" class="<%= notice and notice[:gender] and notice[:gender] != [] ? "invalid" : "valid" %>">
          What is your dog's gender? <strong class ="red-text">*</strong>
        </label>
      </div>
      <div id="mixes" class="input-field col s12 m12 l6 left-col">
        <% mix_options = options_from_collection_for_select(Mix.all, 'value', 'value', @dog_form_values[:mixes]) %>
        <%= select :dog, :mixes, mix_options, {:include_blank => "Mutt / Other"}, :class => "validate white", :multiple => true  %>
        <label for="mixes" class="<%= notice and notice[:mixes] and notice[:mixes] != [] ? "invalid" : "valid" %>">
          What mix (or mixes) is your dog? <strong class ="red-text">*</strong>
        </label>
      </div>
      <div id="personalities" class="input-field col s12 m12 l6 right-col">
        <!--<% @dog_form_values[:personalities] %>-->
        <% personality_options = options_from_collection_for_select(Personality.all, 'value', 'value', @dog_form_values[:personalities]) %>
        <%= select :dog, :personalities, personality_options, {:include_blank => "Must select one or more"}, :class => "validate white", :multiple => true  %>
        <label for="personality" class="<%= notice and notice[:personalities] and notice[:personalities] != [] ? "invalid" : "valid" %>">
          What is your dogs personality like? <strong class ="red-text">*</strong>
        </label>
      </div>
      <div id="energy_level" class="input-field col s12 m12 l6 left-col">
        <% energy_level_options = options_from_collection_for_select(EnergyLevel.all, 'id', 'value', @dog_form_values[:energy_level]) %>
        <%= select :dog, :energy_level, energy_level_options, {:include_blank => "Please select one"}, :class => "validate white"%>
        <label for="energy_level">What is your dog's energy level?</label>
      </div>
      <div id="likes" class="input-field col s12 m12 l6 right-col">
        <% like_options = options_from_collection_for_select(Like.all, 'value', 'value', @dog_form_values[:likes]) %>
        <%= select :dog, :likes, like_options, {:include_blank => "Please select one or more"}, :class => "validate white", :multiple => true  %>
        <label for="likes">Who does your dog like?</label>
      </div>
      <div id="barks" class="input-field col s12 m12 l6 left-col">
        <% bark_options = options_from_collection_for_select(Bark.all, 'value', 'value', @dog_form_values[:barks]) %>
        <%= select :dog, :barks, bark_options, {:include_blank => "Please select one or more"}, :class => "validate white", :multiple => true  %>
        <label for="barks">When does your dog bark?</label>
      </div>
      <div id="fixed" class="input-field col s12 m12 l6 right-col">
        <%= select :dog, :fixed, { "Yes"=>true, "No"=>false}, { :include_blank => "Must choose one" }, :class => "validate white" %>
        <label for="fixed" class="<%= notice and notice[:fixed] and notice[:fixed] != [] ? "invalid" : "valid" %>">
          Is your dog spayed / neutered? <strong class ="red-text">*</strong>
        </label>
      </div>
      <div id="chipped" class="input-field col s12 m12 l6 left-col">
        <%= select :dog, :chipped, { "Yes"=>true, "No"=>false}, { :include_blank => "Must choose one" }, :class => "validate white" %>
        <label for="chipped" class="<%= notice and notice[:chipped] and notice[:chipped] != [] ? "invalid" : "valid" %>">
          Is your dog chipped?  <strong class ="red-text">*</strong>
        </label>
      </div>
      <div id="shots_to_date" class="input-field col s12 m12 l6 right-col">
        <%= select :dog, :shots_to_date, { "Yes"=>true, "No"=>false}, { :include_blank => "Please choose one" }, :class => "validate white" %>
        <label for="shots_to_date">Are all your dog's shots up to date?</label>
      </div>
      <div id="health" class="input-field col s12 m12 l6 left-col br-20 s m l">
        <%= text_area(:dog, :health, :placeholder => "Is there anything sitters should know about your dog's health (allergies, recent surgeries, etc.)?", :class => "materialize-textarea fix-textarea-alignment") %>
        <label for="health">Health Notes</label>
      </div>
      <div id="motto" class="input-field col s12 m12 l6 right-col br-20 s m l">
        <%= text_area(:dog, :motto, :placeholder => "Is there anything your dog wants the world to know?", :class => "materialize-textarea fix-textarea-alignment") %>
        <label for="motto">Status</label>
      </div>
      <div id="description" class="input-field col s12 m12 l6 left-col br-20 s m l">
        <%= text_area(:dog, :description, :placeholder => "Do you have any other descriptive details about your dog?", :class => "materialize-textarea fix-textarea-alignment") %>
        <label for="description">Description</label>
      </div>
      <div id="availability" class="input-field col s12 m12 l6 right-col br-20 s m l">
        <%= text_area(:dog, :availability, :placeholder => "Tell us when you would like a sitter", :class => "materialize-textarea fix-textarea-alignment") %>
        <label for="availability">General Availability</label>
      </div>
      <div class="col l6 m12 s12 left-col">
        <label>Give your dog a profile picture!</label>
        <div class="file-field input-field">
          <div class="btn light-blue darken-3">
            <i class="fa fa-cloud-upload white-text"></i>&nbsp; Upload
            <%= file_field(:dog, :photo) %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path" type="text">
          </div>
        </div>
      </div>
      <div class="col l6 m12 s12 right-col">
        <label>Add more pictures or videos!</label>
        <div class="file-field input-field">
          <div class="btn light-blue darken-3">
            <i class="fa fa-cloud-upload white-text"></i>&nbsp; Upload
            <%= file_field_tag "images[]", type: :file, multiple: true %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
    </div>
    
    <div class="form-button-box row">
      <input id='update_dog_button' type="submit" value="Save Changes" name="update_dog_button" class='btn-large right green accent-4 col l4 m5 s12' />
      <%= link_to "Cancel", dogs_user_path(current_user), :id => "cancel_dog_button", :class => "btn-large left red col l2 m3 s12 br-15 s", :method => :get %>
    </div>
  <% end %>
</div>