<% content_for :page_title, "About " + @dog.name %>

<script src="<%= javascript_path('galleria-1.4.2.js') %>"></script>
<script type="text/javascript" src="dog_profile.js"></script>

<!-- User infomation and events -->
<div class="row container main-content">

  <div class="row" style="margin-top: 20px">
    <div class="col l3 m4 s12" style="text-align: center;">
      <div id = "profile_pics">
        <div> <%= image_tag @dog.photo.url(:large), :class => "circle", id: "dog_profile_pic" %>  </div>
        <div class="star-container">
          <% if not current_user.nil? %>
            <%- unless current_user.starred_dogs.exists?(id: @dog.id) -%>
                <%= link_to starred_dogs_path(dog_id: @dog), method: :post, id: "star_#{@dog.id}", :class => "star_dog_link" do%>
                <i class="fa fa-star-o medium" aria-hidden="true" id="dog_profile_star"></i>
              <%end%>
              <% else %>
                <%= link_to starred_dogs_path(dog_id: @dog), method: :delete, id: "star_#{@dog.id}", :class => "star_dog_link"  do%>
                <i class="fa fa-star medium" aria-hidden="true" id="dog_profile_star"></i>
              <%end%>
            <% end %>
          <%end%>
        </div>
      </div>
      <% if not @current_user.nil? and @current_user.id == @dog.user_id %>
        <%= link_to "Edit", edit_dog_path(@dog.id), :id => "edit_user_button", :class => "btn user-action-button green accent-4 s br-15", :method => :get %>
        <%= link_to "Delete", dog_path(@dog.id), :id => "cancel_user_button", :class => "btn user-action-button red s br-15", :method => :delete %>
      <% end %>
    </div>
    <div class="col l9 m8 s12 s br-35">
      <div class="speech-bubble light-blue darken-3">
        <div class="speech-bubble-content white-text">
          <div class="status-icon"><i class="fa fa-commenting-o small" aria-hidden="true">&nbsp;&nbsp;</i></div>
          <div class="status-text"><%= @dog.motto %></div>
        </div>
        <div class="speech-carrot blue"></div>
      </div>
      <ul class="collection dog-info-collection">
        <li class="collection-item">
          <div class="collection-item-content">
            <span class="grey-text"><i class="fa fa-user" aria-hidden="true"></i> &nbsp;Parent</span>
            &nbsp;&nbsp;<%= link_to @parent.first_name, user_path(@parent.id) %>
          </div>
        </li>
        <% if @dog.age && @dog.age_caption != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-birthday-cake" aria-hidden="true"></i> &nbsp;Age</span>
              &nbsp;&nbsp;<%= @dog.age_caption %>
            </div>
          </li>
        <% end %>
        <% if @dog.size && @dog.size.value != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-balance-scale" aria-hidden="true"></i> &nbsp;Size</span>
              &nbsp;&nbsp;<%= @dog.size.value.capitalize %>
            </div>
          </li>
        <% end %>
        <% if @dog.gender && @dog.gender != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-mars-stroke" aria-hidden="true"></i> &nbsp;Gender</span>
              &nbsp;&nbsp;<%= @dog.gender.capitalize %>
            </div>
          </li>
        <% end %>
        <% if @dog.readable_mixes %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-paw" aria-hidden="true"></i> &nbsp; <%= @dog.readable_mixes.count > 1 ? "Mixes" : "Mix" %></span>
              &nbsp;&nbsp;<%= @dog.readable_mixes.join(", ") %>
            </div>
          </li>
        <% end %>
        <% if @dog.readable_personalities && @dog.readable_personalities != [] %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-heart" aria-hidden="true"></i> &nbsp; <%= @dog.readable_personalities.count > 1 ? "Personalities" : "Personality" %></span>
              &nbsp;&nbsp;<%= @dog.readable_personalities.map(&:capitalize).join(", ") %>
            </div>
          </li>
        <% end %>
        <% if @dog.energy_level && @dog.energy_level.value && @dog.energy_level.value != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-flash" aria-hidden="true"></i> &nbsp; Energy Level</span>
              &nbsp;&nbsp;<%= @dog.energy_level.value.capitalize %>
            </div>
          </li>
        <% end %>
        <% if @dog.readable_likes && @dog.readable_likes != [] %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp; Likes</span>
              &nbsp;&nbsp;<%= @dog.readable_likes.map(&:capitalize).join(", ") %>
            </div>
          </li>
        <% end %>
        <% if @dog.readable_barks && @dog.readable_barks != [] %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-volume-up" aria-hidden="true"></i> &nbsp; Barks</span>
              &nbsp;&nbsp;<%= @dog.readable_barks.map(&:capitalize).join(", ") %>
            </div>
          </li>
        <% end %>
        <% if @dog.fixed != nil %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; Spayed/Neutered?</span>
              &nbsp;&nbsp;<%= @dog.fixed ? "Yes" : "No" %>
            </div>
          </li>
        <% end %>
        <% if @dog.chipped != nil %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-feed" aria-hidden="true"></i> &nbsp; Chipped?</span>
              &nbsp;&nbsp;<%= @dog.chipped ? "Yes" : "No" %>
            </div>
          </li>
        <% end %>
        <% if @dog.shots_to_date != nil %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-medkit" aria-hidden="true"></i> &nbsp; Shots up to Date?</span>
              &nbsp;&nbsp;<%= @dog.shots_to_date ? "Yes" : "No" %>
            </div>
          </li>
        <% end %>
        <% if @dog.health != nil && @dog.health != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-user-md" aria-hidden="true"></i> &nbsp; Health Notes</span>
              &nbsp;&nbsp;<%= @dog.health %>
            </div>
          </li>
        <% end %>
        <% if @dog.description != nil && @dog.description != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp; Description</span>
              &nbsp;&nbsp;<%= @dog.description %>
            </div>
          </li>
        <% end %>
        <% if @dog.availability != nil && @dog.availability != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; Availability</span>
              &nbsp;&nbsp;<%= @dog.availability %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $('.ui.video').video();

  $('.ui.sticky')
  .sticky({
    offset: 50,
    context: '#dog_info_stats'
  });
});
</script>

