
<!DOCTYPE html>
<html>
<head>
    <%= javascript_include_tag "application", "signin", "pro_user" "data-turbolinks-track" => true %>
  
</head>

<body>
  <% if @own_profile %>
  <% content_for :page_title, "My Profile" %>
<% else %>
  <% content_for :page_title, @user.first_name + "'s Profile" %>
<% end %>

<!-- User infomation and events -->
<div class="row container main-content">
  </br>
  <div class="row">
    <div class="col l4 m5 s12">
      <div class="profile-row center-profile">
        <h4 class="br-5 s ctr"><%= @user.full_name %></h4>
        <%= image_tag @user.image, :class => "circle", :id => "ui-segment" %>
      </div>


      

      <% if @is_admin or @own_profile %>
        <%= link_to "Edit Profile", edit_user_path(@user.id), :id => "edit_user_button", :class => "btn user-action-button green accent-4 s br-15", :method => :get %>
        <%= link_to "Delete", user_path(@user.id), :id => "cancel_user_button", :class => "btn user-action-button red s br-15", :method => :delete %>
      <% end %>
      
      <% if @user.status && @user.status != "" %>
        <div class="speech-bubble light-blue darken-3">
          <div class="speech-bubble-content white-text">
            <div class="status-icon"><i class="fa fa-commenting-o small" aria-hidden="true"></i></div>
            <div class="status-text">&nbsp;&nbsp;<%= @user.status %></div>
          </div>
          <div class="speech-carrot blue"></div>
        </div>
      <% end %>
      
      <% if @own_profile %>
      <!--//change edit user path to path to other app-->
      <!--Action items: Add in JS to make button appear when toggle is on, and button to disappear when toggle is off-->
        <!-- Switch -->
        <div class="row ctr s">
          <label> I am a Pro Dog Walker </label>
          <div class="switch">
          <label>
            No
            <input type="checkbox" name="toggle" id = "pro-toggle">
          <span class="lever"></span>
            Yes
          </label>
          </div>
        </div>
        
        <!--Adding in the button to take to other app -->
        <%= link_to "Big Butts", pro_user_path(@current_user.id), :id => "pro-cal-button", :class => "btn user-action-button blue accent-4 s br-15", :method => :post %>
        
        
        <% end %>

      
      <ul class="collection user-info-collection">
        <% if @user.email && @user.email != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;Email</span>
              <%= @user.email %>
            </div>
          </li>
        <% end %>
        <% if @user.gender && @user.gender != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-mars-stroke" aria-hidden="true"></i> &nbsp;Gender</span>
              <%= @user.gender.capitalize %>
            </div>
          </li>
        <% end %>
        <% if @user.address && @user.address != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;Address</span>
              <%= @user.address %>
            </div>
          </li>
        <% end %>
        <% if @user.country && @user.country != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;Country</span>
              <%= @user.country %>
            </div>
          </li>
        <% end %>
        <% if @user.city && @user.city != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;City</span>
              <%= @user.city %>
            </div>
          </li>
        <% end %>
        <% if @user.zipcode && @user.zipcode != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;Zipcode</span>
              <%= @user.zipcode %>
            </div>
          </li>
        <% end %>
        <% if @user.phone_number && @user.phone_number != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;Phone</span>
              <%= @user.phone_number %>
            </div>
          </li>
        <% end %>
        <% if @user.description && @user.description != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;Description</span>
              <%= @user.description %>
            </div>
          </li>
        <% end %>
        <% if @user.availability && @user.availability != "" %>
          <li class="collection-item">
            <div class="collection-item-content">
              <span class="grey-text"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;Availability</span>
              <%= @user.availability %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col l8 m7 s12">
      <div class="row ctr s">
        <h4 id="dogs-title" class="title-padding">Dogs</h4>
        <% if @own_profile %>          <%= link_to "Add Dog", new_dog_path(), :id => "add_dog_button", :class => "btn green accent-4 s br-15 hide-on-small-only", :method => :get %>
        <% end %>
      </div>
      <div class="row">
        <% if @user.dogs.count == 0 then %>
          <div class="row center-align valign-wrapper no-dogs-message-container">
            <div class="col l12 m12 s12 valign no-dogs-message" style="margin-top: 0">No dogs yet! </div>
          </div>
        <% else %>
          <div class="row container main-content">
          <% @user.dogs.each do |dog| %>
            <%= render "dogs/dog_card", :dog => dog, :card_size => "col s12 m12 l6" %>
          <% end %>
          </div>
        <% end %>
      </div>
      <div class="row ctr s">
        <h4 id="events-title" class="title-padding">Events</h4>
          <% if @own_profile %>
            <%= link_to "Add Event", new_event_path(), :id => "add_event_button", :class => "btn green accent-4 s br-15 hide-on-small-only", :method => :get %>
          <% end %>
        </div>
          <% if @user.events.count == 0 then %>
          <div class="row center-align valign-wrapper no-events-message-container">
            <div class="col l12 m12 s12 valign no-events-message">
              <div>No events yet!</div>
            </div>
          </div>
        <% else %>
          <div class="row s12 event-cards-container">
            <% @user.events.each do |event| %>
              <%= render "events/event_card", :event => event, :current_user => @current_user, :card_size => "col s12" %>
            <% end %>
          </div>
        <% end %>
      </div>
      </div>

</body>

</html>