<% content_for :page_title, "My Favorites" %>

<% if not @dogs.nil? %>
  <div class="row container main-content">
    <% @dogs.each do |dog| %>
      <% if current_user.starred_dogs.exists?(id: dog.id) %>
        <div class="col s12 m6 l4">
        <div class="card">
          <% if not current_user.nil? %>
            <%- unless current_user.starred_dogs.exists?(id: dog.id) -%>
              <%= link_to starred_dogs_path(dog_id: dog), method: :post, id: "star_#{dog.id}" do%>
              <i class="fa fa-star-o" aria-hidden="true" id="favorite_star"></i>
            <%end%>
            <% else %>
              <%= link_to starred_dogs_path(dog_id: dog), method: :delete, id: "star_#{dog.id}"  do%>
              <i class="fa fa-star" aria-hidden="true" id="favorite_star"></i>
            <%end%>
          <% end %>
        <%end%>
        <div class="card-image waves-effect waves-block waves-light">
          <% if dog.photo.file? %>
            <%= image_tag dog.photo.url(:small), :class => "activator card-img" %>
          <% else %>
            <%= image_tag "default_dog.jpg", :class => "activator card-img" %>
          <% end %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= dog.name %><i class="material-icons card-more-icon right">more_vert</i></span>
        </div>
        <div class="card-action">
          <a href="<%= dog_path(dog.id) %>" class="light-blue-text text-darken-3">Details</a>
          <% if not @current_user.nil? and @current_user.id == dog.user_id %>
            <a href="<%= edit_dog_path(dog.id) %>" class="green-text text-accent-4">Edit</a>
          <% end %>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><a href="<%= dog_path(dog.id) %>">About <%= dog.name %></a>
            <i class="material-icons right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Close">close</i>
            <a href="<%= edit_dog_path(dog.id) %>"><i class="material-icons right tooltipped green-text text-accent-4" data-position="bottom" data-delay="50" data-tooltip="Edit Dog">edit</i></a>
          </span>
          <ul class="dog-info-list">
            <li class="dog-info-list-item"><strong>Status</strong> <%= dog.motto %></li>
            <li class="dog-info-list-item"><strong>Age</strong> <%= dog.age_caption %></li>
            <li class="dog-info-list-item"><strong>Gender</strong> <%= dog.gender %></li>
            <li class="dog-info-list-item"><strong>Mix</strong> <%= dog.readable_mixes.join(", ") %></li>
            <li class="dog-info-list-item"><strong>Size</strong> <%= dog.size %></li>
            <li class="dog-info-list-item"><strong>Personality</strong> <%= dog.tags %></li>
            <li class="dog-info-list-item"><strong>Energy</strong> <%= dog.energy_level %></li>
            <li class="dog-info-list-item"><strong>Likes</strong> <%= dog.readable_likes.join(", ") %></li>
            <li class="dog-info-list-item"><strong>Barks</strong> Rarely</li>
            <li class="dog-info-list-item"><strong>Health Notes</strong> <%= dog.health %></li>
            <li class="dog-info-list-item"><strong>Description</strong> <%= dog.description %></li>
            <li class="dog-info-list-item"><strong>Availability</strong> <%= dog.availability %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
<% else %>
  No starred dogs.
<%end%>