<div class="row">
  <div class="col s12 m12 l12">
    <div class="card event-card white black-text">
      <div class="card-content">
        <div class="event-icon">
          <div class="event-icon-month"> <%= event.start_date.strftime('%^b') %> </div>
          <div class="event-icon-day"> <%= event.start_date.day %> </div>
        </div>
        <div class="event-details">
          <span>Dogs&nbsp; </span> <%= event.readable_dogs %> <br>
          <% if event.start_date == event.end_date %>
            <span>Dates&nbsp; </span> <%= event.start_date.strftime('%b %d, %Y') %> <br>
          <% else %>
            <span>Dates&nbsp; </span> <%= event.start_date.strftime('%b %d, %Y') %> - <%= event.end_date.strftime('%b %d, %Y') %> <br>
          <% end %>
          <span>Location&nbsp; </span> <%= event.readable_location %> <br>
          <span>Description&nbsp; </span> <%= event.description %> <br>
        </div>
      </div>
      <div class="card-action">
        <a href="<%= edit_event_path(event.id) %>" class="green-text text-accent-4">Edit</a>
        <a href="#" class="red-text">Delete</a>
      </div>
    </div>
  </div>
</div>