<div class= "<%= card_size %>" >
  <div class="card event-card white black-text">
    <div class="event-card-content">
      <div class="event-icon">
        <div class="event-icon-month"> <%= event.start_date.strftime('%^b') %> </div>
        <div class="event-icon-day"> <%= event.start_date.day %> </div>
      </div>
      <div class="event-details">
        <div class="event-detail">
          <span class="event-detail-title">Dogs</span>
            <span class="event-detail-content">
              <% event.dogs.each_with_index do |dog, i| %>
                <% if i < (event.dogs.length - 1) %>
                  <a href="<%= dog_path(dog.id) %>"><%=dog.name%></a>,
                <% else %>
                  <a href="<%= dog_path(dog.id) %>"><%=dog.name%></a>
                <% end %>
              <% end %>
            </span>
          </span>
        </div>
        <div class="event-detail">
          <span class="event-detail-title">Dates</span>
          <% if event.start_date == event.end_date %>
            <span class="event-detail-content">
              <span><%= event.start_date.strftime('%b %d, %Y') %></span>
            </span>
          <% else %>
            <span class="event-detail-content">
              <span><%= event.start_date.strftime('%b %d, %Y') %> -&nbsp;</span>
              <span> <%= event.end_date.strftime('%b %d, %Y') %></span>
            </span>
          <% end %>
        </div>
        <div class="event-detail">
          <span class="event-detail-title">Location</span>
          <span class="event-detail-content"><%= event.readable_location %></span>
        </div>
        <% if event.description and !event.description.empty? %>
          <div class="event-detail">
            <span class="event-description-title">Description</span>
            <span class="event-description-content"><%= event.description %></span>
          </div>
        <% end %>
      </div>
    </div>
    <% if current_user and current_user.events.exists?(id: event.id) %>
      <div class="card-action">
        <a href="<%= edit_event_path(event.id) %>" class="green-text text-accent-4">Edit</a>
        <a href="<%= event_path(event.id) %>" class="red-text" data-method="delete">Delete</a>
      </div>
    <% end %>
  </div>
</div>