<% notice = flash[:notice] %>

<div class="container">
  <div class="row"><br><h4>Your Event</h4><br></div>
  <%= form_tag({controller: :events, action: @action}, method: @method, :multipart => true) do %>
  <div class="row">
    <div id="dogs" class="input-field col s12 m12 l6 left-col">
      <% dog_options = options_from_collection_for_select(@current_user.dogs, 'id', 'name', @event_form_values[:dogs]) %>
      <%= select :event, :dogs, dog_options, {:include_blank => "Select one or more"}, :class => "validate white", :multiple => true  %>
      <label for="dog">
        Dogs to share? <strong class ="red-text">*</strong>
      </label>
    </div>
    <div id="location" class="input-field col s12 m12 l6 right-col">
      <% location_options = options_from_collection_for_select(Location.all, 'id', 'value', @event_form_values[:location_id]) %>
      <%= select :event, :location, location_options, {:include_blank => "Select one or more"}, :class => "validate white" %>
      <label for="time">
        Where <strong class ="red-text">*</strong>
      </label>
    </div>

    <div id="start_date" class="input-field col s12 m12 l6 left-col">
      <label>
        Start <strong class ="red-text">*</strong>
      </label>
      <%= date_field("event", :start_date, value: @event_form_values[:start_date], class:"datepicker") %>
    </div>
    <div id="end_date" class="input-field col s12 m12 l6 right-col">
      <label>
        End <strong class ="red-text">*</strong>
      </label>
      <%= date_field("event", :end_date, value: @event_form_values[:end_date], class:"datepicker") %>
    </div>

    <div id="description" class="input-field col s12 m12">
      <%= text_area(:event, :description, :class => "materialize-textarea") %>
      <label for="description">Description</label>
    </div>

  <% end %>
  
  <div class="form-button-box row">
    <input id='update_event_button' type="submit" value="Schedule" name="update_dog_button" class='btn-large right green accent-4 col l4 m5 s12' />
    <%= link_to "Cancel", events_path, :id => "cancel_dog_button", :class => "btn-large left red col l2 m3 s12 br-15 s", :method => :get %>
  </div>
  </p>
</div>
